name: "Build and push to GHCR - latest tag"
 
on:
  push:
 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build and Publish Tag Docker image
      uses: VaultVulp/gp-docker-action@1.2.0
      with:
        github-token: ${{ secrets.GHCR_TOKEN }}
        image-name: noubot
        image-tag: latest
